{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ToDo App</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'todoapp/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'todoapp/styles.css' %}" />
	</head>
	<body>

		<div class="container-fluid" id="wrapper">
			
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					<h2><a href="/api">OPEN TODO API</a></h2>
					<h2>WHAT DO YOU WANT TO DO TODAY?</h2>

					<form action="{% url 'add_todo' %}" method="POST" role="form">
						{% csrf_token %}
						<div class="form-group">
							<div class="input-group">
								{{ form.due_date }} - Due date in YYYY-MM-DD HH:MM format
								{{ form.title }}
								{{ form.text }}
								<span class="input-group-btn">
									<button type="submit" class="btn btn-default" id="add-btn">ADD</button>
								</span>
							</div>
						</div>
					</form>

					<div class="row t10">
						<div class="col-lg-12">
							<div class="btn-toolbar">
								<div class="btn-group">
                                    <a href="{% url 'delete_completed' %}">
										<button type="button" class="btn btn-warning">
											<i class="glyphicon glyphicon-trash"></i> DELETE COMPLETED
										</button>
									</a>
								</div>
								<div class="btn-group">
                                    <a href="{% url 'delete_all' %}">
                                        <button type="button" class="btn btn-warning">
                                            <i class="glyphicon glyphicon-trash"></i> DELETE ALL
                                        </button>
                                    </a>
								</div>
							</div>
						</div>
					</div>

					<ul class="list-group t20">
						{% for todo in todo_list %}
							{% if todo.complete %}
								<li class="list-group-item todo-completed">{{ todo.title }} - <i>{{ todo.text }}></i></li>
							{% else %}
								<li class="list-group-item">
                                    <a href="{% url 'complete_todo' todo.id %}">
                                        <strong style="color:lightcoral;">{{ todo.due_date }}</strong> - {{ todo.title }} - <i>{{ todo.text }}</i>
                                    </a>
                                </li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>

			<footer>
				<div class="row pad">
					<div class="col-lg-12 text-center">
						Copyright &copy; 2020 <strong>ToDo App</strong> by Vitaly Sem
					</div>
				</div>
			</footer>
		</div>

		<!-- jQuery -->
		<script src="{% static 'todoapp/js/jquery.min.js' %}"></script>
		<!-- Bootstrap JavaScript -->
		<script src="{% static 'todoapp/js/bootstrap.min.js' %}"></script>
	</body>
</html>